/* Color variables */
:root {
    --primary: #eaeaea;
    --secondary: blue;
    --text: black;
}

/* Setting basic and inheritable body stylings */
body {
    font-family:Arial, Helvetica, sans-serif;
    position:relative;
    background-color: var(--primary);
    color: var(--text);
    margin: 0;
}

header {
    background-image: linear-gradient(to right, rgb(77, 77, 253), rgb(0, 0, 133));
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    text-align: center;
    color: var(--primary);
}

main {
    display: flex;
    margin-left: 5px;
}

.search-section {
    flex: 1 1 0;
}

.search-section h2{
    margin-top: 10px;
}

.display {
    flex: 5 1 0;
}

.big-card {
    border-style: solid;
    border-width: 3px;
    margin: 3px;
    padding: 2px
}

.big-card h2 {
    margin: 0;
}

.icon {
    vertical-align: middle;
}

#forecasted-weather {
}

#weather-cards {
    display: flex;
}

.day-card {
    background-color: rgb(0, 0, 133);
    color: var(--primary);
    padding: 3px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}

#recent-searches {
    display: none;
}

.recent {
    background-color: gray;
    border: none;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin: 4px 0;
    cursor: pointer;
}